.link{ width:500px;height:60px;  margin:0 auto;position:fixed; left: calc(50% - 250px); bottom:20px; text-align:center; }
#footer { width:500px;height:60px;  margin:0 auto;position:fixed; left: calc(50% - 250px); bottom:0px; text-align:center; }
#cnzz_stat_icon_1278713540 {position:fixed; left: calc(50% - 250px); bottom:0px;}