*{
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 13pt;
}
body{
	background-color:#dddddd;
}
.header{
	width:45%;
	margin:0 auto;
	color:#000
}
.navbar {
    height: 200px;
	width:40%;
	margin:0 auto;
	position:absolute;
	top:150px;
}
 
.navbar ul {
    background-color: #fff;
    border-radius:10px;
    list-style: none;
	color:#eee;
	margin:0 200px 30px;
	display: table;
	text-align:center
}
 
.navbar li {
    display: inline;
    line-height: 200px;
    float:left;
	width:300px;
	color:#ddd
}

.navbar a {
    color: #aaa;
    text-decoration: none;
	font-size:30px;
    padding:20px 30%;
	
}
 
.navbar a:hover {
    background-color: #000;
	border-radius:6px;
}
.userc{
	float:right;
	margin-right: 400px;
}

#obj{
  position:relative;
  left:400px;
  top:20px;
  width:50px;
  height:50px;
  background:#6fb936;
  border-radius:5px;
}
#shortweb{
	background-color: #fff;
	top: 270px;
	position: relative;
	margin: auto auto;
	width: 520px;
	border-radius: 10px;
}
#shortwebh{
	margin: 0 auto;
	display: table;
	width: 500px;
	padding-top: 20px;
}